<div class="row">
	<div class="col-md-3 col-xs-3 col-sm-3 profile">
		<%= render partial: 'profiles/profile' %>
		<%= render partial: 'profiles/stats' %>
	</div>
	<div class="timeline">
		<div class="col-md-8 col-xs-8 col-sm-8">
			<% if @tweets.any? %>
				<h2 class="title">Tweets from <i>@<%= @user.tweetname %></i></h2>
				<ul class="tweets"> 
					<% @tweets.each do |item| %>
						<li class="tweet">
							<div class="tweet-content">
								<%= item.content %>
							</div>
							<div class="tweet-footer">
								Posted <%= "#{time_ago_in_words(item.created_at)}" %> ago. | 
								<%= link_to 'View', tweet_path(item.id) %>
							</div>
                        </li>
					<% end %>
				</ul>	
			<% else %>
				<div class="alert alert-danger">
					No tweets from this user yet!
				</div>
			<% end %>
		</div>
	</div>	
</div>