<div class="row front-container">
  
  <div class="col-md-7 col-sm-7 col-xs-7 auth-right">
    <%= render "devise/shared/right" %>  
  </div>
  <div class="col-md-5 col-sm-5 col-xs-5 auth-container">
    <h4>Sign Up</h4>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">  
          <%= f.text_field :tweetname, class:'form-control input-sm',autofocus: true,placeholder: 'Tweet name' %>
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">  
          <%= f.email_field :email, class:'form-control input-sm',autofocus: true,placeholder: 'E-mail' %>
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">  
          <%= f.password_field :password, class:'form-control input-sm',autocomplete: "off",placeholder:'Password'%>
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">  
          <%= f.password_field :password_confirmation, class:'form-control input-sm',placeholder: 'Password confirmation' %>
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">  
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">  
          <%= f.submit "Sign up",class:'btn btn-warning btn-sm  btn-block' %>
        </div>
      </div>
    <% end %>

     
  </div>
  
</div> 
  
